.footer-container {
    background: #7008F4;
    height: 200px;
    padding: 50px 130px 26px 130px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    height: 100%;
}
.footer-logo {
    align-self: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 42px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #7008F4;
}
.footer-quick-links-container {
    width: 679px;
    margin: auto;
   
}
.footer-quick-links-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFDFF;
}
.footer-base-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;    
}
.footer-base-content:last-child, 
.footer-base-content:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110.19%;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #FFFDFF;
}
.footer-base-social-links {
    display: flex;
    justify-content: space-between;
    width: 135px;
    align-items: center;
    list-style: none;
    padding: 0;
    position: relative;
    top: -20px;
    left: 50px;
    font-weight: bold;
    font-size: 20px;
}
.footer-base-copyright {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 175px;
}


/* mediaqueries */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer-container {
        padding:20px;
        height: 300px;
    }
    .footer-quick-links-container {
        width: 100%;
        margin: 0;
       
    }
    .footer-quick-links-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .footer-quick-links-content li {
        padding: 10px 0;
    }
    .footer-base-content {
        display: flex;
        flex-direction: column;
    }
    .footer-base-social-links {
        width: 120px;
        display: flex;
        justify-content: space-between;
        top: -40px;
        left:0;
    }
    .footer-base-content:last-child, 
    .footer-base-content:first-child {
        font-size: 14px;
        line-height: 100.19%;
        letter-spacing: 1.0px;        
    }
    .footer-base-copyright {
        width: 160px;
    }
    
  }
  @media only screen 
  and (min-device-width: 401px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer-container {
        padding:20px;
        height: 300px;
    }
    .footer-quick-links-container {
        width: 100%;
        margin: 0;
       
    }
    .footer-quick-links-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .footer-quick-links-content li {
        padding: 10px 0;
    }
    .footer-base-content {
        display: flex;
        flex-direction: column;
    }
    .footer-base-social-links {
        width: 120px;
        display: flex;
        justify-content: space-between;
        top: -40px;
        left:0;
    }
    .footer-base-content:last-child, 
    .footer-base-content:first-child {
        font-size: 14px;
        line-height: 100.19%;
        letter-spacing: 1.0px;        
    }
    .footer-base-copyright {
        width: 160px;
    }
    
  }
  @media only screen 
  and (min-device-width: 501px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer-container {
        padding:20px;
        height: 300px;
    }
    .footer-quick-links-container {
        width: 100%;
        margin: 0;
       
    }
    .footer-quick-links-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        font-size: 25px;
        line-height: 25px;
    }
    .footer-quick-links-content li {
        padding: 10px 0;
    }
    .footer-base-content {
        display: flex;
        /* flex-direction: column; */
    }
    .footer-base-social-links {
        width: 120px;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        top: -40px;
        left:50px;
    }
    .footer-base-content:last-child, 
    .footer-base-content:first-child {
        font-size: 14px;
        line-height: 100.19%;
        letter-spacing: 1.0px;        
    }
    .footer-base-copyright {
        width: 160px;
    }
    
  }
