.loader-container {
    background: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
}
.loader-container img {
    width: 50%;
}

@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 868px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .loader-container {
        background: #fff;
        position: fixed;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 140px;
    } 
    .loader-container img {
        width: 100%;
    }    
  }
