.join-us-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.join-us-container>span {
    width: 90px;
    border: 1px solid #121212;
    line-height: 32px;
    
}
.join-us-container h2 {
    width: 792px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #121212;
}
.join-us-content {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
}

.join-us-text {
    width: 420px;
    height: 220px;
    background: #ABF0FF;
    border-radius: 3px;
    padding: 50px 10px 0 80px;
    
}
.join-us-text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7008F4;
}
.join-us-text h4 {
    margin: 0;
    line-height: 28px;
}
.join-us-text p {
    width: 404px;
    height: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #121212;
}

.join-us-text-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin:30px auto ;
    color: #7008F4;
    font-size: 14px;
}
.join-us-text-footer a {
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 21px;
text-decoration-line: underline;
}
.join-us-text-footer span {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 21px;
width: 40px;
display: flex;
justify-content: flex-end;
font-size:25px;
}





/* mediaqueries */

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 460px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    /* .join-us-container {
        border: 1px solid red;
    } */
    .join-us-container>span {
        margin-left: 15px;
        margin-top: 20px;
    }
    .join-us-container h2 {
        width: 95%;
        margin-left: 15px;
        font-size: 30px;
        line-height: 40px;
      
    }
    .join-us-content {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 0;
    }
    .join-us-text {
        width: 80%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ABF0FF;
        border-radius: 3px;
        margin: 10px 0;
        padding: 40px 20px 10px 20px;
        
    }
    .join-us-text-header {
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 22px;
    }
    .join-us-text h4 {
        margin: 0 5px;
    }
    .join-us-text p {
        width: 100%;
        height: 70px;
        padding: 0;
        text-align: center;
    }
    .join-us-text-footer {
        margin-top: 90px;
    }

  }

  @media only screen 
  and (min-device-width: 401px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1)  {
        
    .join-us-container>span {
        margin-left: 15px;
        margin-top: 20px;
    }
    .join-us-container h2 {
        width: 100%;
        margin-left: 15px;
        font-size: 28px;
        line-height: 40px;
      
    }
    .join-us-content {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 0;
    }
    .join-us-text {
        width: 83%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ABF0FF;
        border-radius: 3px;
        margin: 10px 0;
        padding: 40px 20px 10px 20px;
        
    }
    .join-us-text-header {
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .join-us-text h4 {
        margin: 0 5px;
    }
    .join-us-text p {
        height: 70px;
        line-height: 27px;
        padding: 0;
        font-size: 19px;
        text-align: center;
    }
    .join-us-text-footer {
        margin-top: 100px;
        font-size: 16px;
    }
  }