.card-container {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 10px;
    height: 350px;
    border-radius: 3px;
}
.card-image-container {
    height: 290px;
    width: 100%;
} 
.card-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.card-footer {
    background: #fff;
    padding: 0 10px;
    border-radius: 0 0 3px 3px;
}
.card-footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.card-footer ul :first-child {
    font-size: 20px;
    color: #7008F4;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.explore-card-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 310px;     
}
.explore-card-image {
    width: 250;
    height: 250px;
    border-radius: 3px;
}
.explore-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}
.explore-card-footer-links {
    padding: 10px 0;
    margin: 0;
    list-style: none;
}
.explore-card-footer-links>:first-child {
    width: 151px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #7008F4;
}
.explore-card-footer-links>:last-child {
    width: 116px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 28px;
    color: #121212;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 310px;
    border-radius: 3px;   
}
.project-card-image {
    width: 250;
    height: 250px;
}
.project-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
    object-fit: cover;
}
.project-card-footer {
    background: #FFFDFF;
    border-radius: 0 0 3px 3px;
}
.project-card-footer-links {
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
}
.project-card-footer-links> :first-child {
    font-size: 16px;
    color: #7008F4;
    line-height: 28px;
    font-weight: bold;
}
.project-card-footer-links> :last-child {
    font-size: 13px;
    line-height: 19px;
    color: #121212;
    font-weight: normal;

}


/* mediaqueries */

@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card-container {
        width: 330px;
        height: 400px;
      
    }
    .card-image-container {
        height: 320px;
        width: 330px;
    }
    .card-footer {
        padding: 0 30px;
    }
    .project-card-container {
        width: 370px;
        height: 400px;
        margin: 0 auto 30px auto;   
        padding: 0 10px;
    }
    .project-card-image {
        width: 370;
        height: 320px;
    }
    
    .explore-card-container {
        width: 360px;
        height: 400px; 
        margin: 0 auto 30px auto;    
        padding: 0 ;
    }
    .explore-card-image {
        width: 360px;
        height: 320px;
    }
    .explore-card-footer-links>:first-child {
        width: 240px;
    }   
     
  }

  @media only screen 
  and (min-device-width: 401px) 
  and (max-device-width: 868px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card-container {
        width: 390px;
        height: 400px;
        margin-bottom: 20px;
      
    }
    .card-image-container {
        height: 350px;
        width: 390px;
    }
    .card-footer {
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .project-card-container {
        width: 370px;
        height: 400px;
        margin: 0 auto 30px auto;   
    }
    .project-card-image {
        width: 370;
        height: 350px;
    }
    .explore-card-container {
        width: 370px;
        height: 400px; 
        margin: 0 auto 30px auto;    
    }
    .explore-card-image {
        width: 370px;
        height: 350px;
    } 
    .explore-card-footer-links>:first-child {
        width: 240px;
    }
  }