.rec.rec-arrow {
    display: none;
}


button.rec-dot {
    width:272px;
    margin: 0;
    height: 0;
    border-radius: 0 2px 2px 0;
    border: none;
    padding: 0;
    background: inherit;
    
}
button.rec-dot:active {
    background: #7008F4;
}
.carousel-main-container {
    padding: 80px 130px;
    position: relative;
}
.carousel-main-container-text h2{
    width: 446px;
    height: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;
    color: #000000;
}
.carousel-mini-container {
    padding: 50px 0;
}
.carousel-main-container-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.carousel-main-container-text span {
        width: 90px;
        border: 1px solid #121212;
        margin-bottom: 30px;
}

/* mediaqueries */

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-main-container {
        padding: 50px 10px;
        position: relative;
    }
    .carousel-main-container-text h2{
        width: 100%;
        height: 44px;
        font-size: 35px;
        margin-left: 7px;
    }
    .carousel-main-container-text span {
        margin-left: 7px;
        line-height: 28px;
}
    .carousel-mini-container {
        padding:0 ;
    }
    .rec.rec-arrow {
     display: none;
    }     
  }
  @media only screen 
  and (min-device-width: 401px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-main-container {
        padding: 50px 10px;
        position: relative;
    }
    .carousel-main-container-text h2{
        width: 100%;
        height: 44px;
        font-size: 35px;
        margin-left: -2px;
    }
    .carousel-main-container-text span {
        margin-left: -2px;
        line-height: 28px;
}
    .carousel-mini-container {
        padding:0 ;
    }
    .rec.rec-arrow {
     display: none;
    }     
  }
  @media only screen 
  and (min-device-width: 501px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-main-container {
        padding: 50px 10px;
        position: relative;
    }
    .carousel-main-container-text h2{
        width: 100%;
        height: 44px;
        font-size: 35px;
        margin-left: 7px;
    }
    .carousel-main-container-text span {
        margin-left: 7px;
        line-height: 28px;
}
    .carousel-mini-container {
        padding:0 ;
    }
    .rec.rec-arrow {
     display: none;
    }     
  }