.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    margin-right: 20px !important;
     flex-shrink: unset !important;
}
.home-pro-card {
     height:290px;
      width:250px;
      filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
}
.home-pro-card-img {
    height: 250px;
}
.home-pro-card-img img {
    width:100%;
    height:100%; 
    object-fit:cover;
}
.home-pro-card-footer { 
    background:#fff;
    padding: 5px 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #7008F4;
}
.home-pro-card-footer h5{
    font-size: 16px;
}
.carousel-main-container {
    padding: 80px 130px;

}
.carousel-main-container-text h2{
    width: 446px;
    height: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;
    color: #000000;
}
.carousel-mini-container {
    padding: 50px 0;
}
.carousel-main-container-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.carousel-main-container-text span {
        width: 90px;
        border: 1px solid #121212;
        margin-bottom: 30px;
}

/* mediaqueries */

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-main-container {
        padding: 50px 10px;
        position: relative;
    }
    .carousel-main-container-text h2{
        width: 100%;
        height: 44px;
        font-size: 35px;
        margin-left: 7px;
    }
    .carousel-main-container-text span {
        margin-left: 7px;
        line-height: 28px;
}
    .carousel-mini-container {
        padding:0 ;
    }
    .rec.rec-arrow {
     display: none;
    }     
  }
  @media only screen 
  and (min-device-width: 401px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-main-container {
        padding: 50px 10px;
        position: relative;
    }
    .carousel-main-container-text h2{
        width: 100%;
        height: 44px;
        font-size: 35px;
        margin-left: -2px;
    }
    .carousel-main-container-text span {
        margin-left: -2px;
        line-height: 28px;
}
    .carousel-mini-container {
        padding:0 ;
    }
    .rec.rec-arrow {
     display: none;
    }     
  }
  @media only screen 
  and (min-device-width: 501px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-main-container {
        padding: 50px 10px;
        position: relative;
    }
    .carousel-main-container-text h2{
        width: 100%;
        height: 44px;
        font-size: 35px;
        margin-left: 7px;
    }
    .carousel-main-container-text span {
        margin-left: 7px;
        line-height: 28px;
}
    .carousel-mini-container {
        padding:0 ;
    }
    .rec.rec-arrow {
     display: none;
    }     
  }