.rec.rec-arrow {
    position: absolute;
    top: 130px;
    right: 150px;
    background-color: inherit;
    border-radius: 0;
    justify-content: space-between;
}
.rec.rec-arrowLeft {
    background-color: #000;
}
.rec.rec-pagination {
    width: 95%;
    border: 1px solid red;
}
.rec.rec-pagination-item {
    background-color: red;
}
button.rec-dot {
    background-color: red;
    border-radius: 0;
}
.carousel-main-container {
    padding: 30px 130px;
    position: relative;
}
.carousel-main-container-text h2{
    width: 446px;
    height: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.carousel-mini-container {
    padding-left: 210px;
}