@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Roboto;
}

.close-menu {
  background: inherit;
  padding: 5px;
  border: none;
  position: absolute;
  right:10px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
}
.open-menu {
  background: black;
  padding: 0 5px;
  color:pink;
  border: none;
  position: absolute;
  top: 0;
  font-size: 25px;
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
}
.pages-container {
  padding: 50px;
  overflow: hidden;
  /* height: 100vh; */
}
.sidenav {
  position: fixed;
  height: 100vh;
  width: 240px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #fff;
  top: 0;
}


@media only screen 
and (min-device-width: 280px) 
and (max-device-width: 765px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .sidenav {     
    width: 100vw;
    height: 100vh;
    /* background: red; */
    top: 0;
    z-index: 10;
  }
  .pages-container {
    padding: 10px;
  }
  .children-container {
    width: 100vw;
  }
  .talentCard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    scroll-behavior: auto;
  }
  /* .adminGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:  "main";
    grid-template-rows:100% 1fr;
    height: 100vh;
    background-color: #F4F2F2;
    overflow: hidden;
  } */
}
/* button {
  color: var(--white);
  border: none;
  outline: none;
} */