.get-in-touch-container {
    display: grid;
    grid-template-columns: 40% 60%;
    
}
.get-in-touch-text {
    padding: 90px 80px 0 130px;
    background: #EEEDEF;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.get-in-touch-text span {
    width: 90px;
    border: 1px solid #121212;
    margin-bottom: 30px;
    background: #121212;
}
.get-in-touch-text h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #121212;
   
}
.get-in-touch-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #121212;
    width: 343px;
}
.get-in-touch-form {
    background: #FBF8FB;
    padding: 90px 150px 90px 120px;
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.get-in-touch-form input {
    width: 235px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #979797;
}
::placeholder {
    padding-left: 5px;
    color: #979797;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.get-in-touch-form textarea {
    width: 235px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #979797;
}
.get-in-touch-form button {
    width: 243px;
    height: 51px;
    background:#7008f4;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: none;
    margin-top: 48px;
}


/* mediaqueries */

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .get-in-touch-container {
       grid-template-columns: 100%;
        width: 100%;
    }
    .get-in-touch-text {
        width: 100%;
        padding: 30px 0 30px 0;
    }
    .get-in-touch-text h2, p{
        padding-left: 10px;
    }
    .get-in-touch-text p {
        width: 280px;
        font-size: 20px;
    }
    .get-in-touch-text>span {
        margin-left: 10px;
    }
    .get-in-touch-form {
        width: 100%;
        padding: 50px 0 50px 0;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .get-in-touch-form input {
        width: 95%;
        margin: auto auto;
    }
    .get-in-touch-form textarea {
        width: 95%;
    }
    .get-in-touch-form button {
        width: 95%;
        margin: 30px auto;
    }
  }

  @media only screen 
  and (min-device-width: 401px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   /* .get-in-touch-text p {
       font-size: 18px;
   }  */
   .get-in-touch-container {
    grid-template-columns: 100%;
     width: 100%;
 }
 .get-in-touch-text {
     width: 100%;
     padding: 30px 0 30px 0;
 }
 .get-in-touch-text h2, p{
     padding-left: 10px;
 }
 .get-in-touch-text p {
     width: 280px;
     font-size: 20px;
 }
 .get-in-touch-text>span {
     margin-left: 10px;
 }
 .get-in-touch-form {
     width: 100%;
     padding: 50px 0 50px 0;
     text-align: center;
     grid-template-columns: repeat(1, 1fr);
 }
 .get-in-touch-form input {
     width: 95%;
     margin: auto auto;
 }
 .get-in-touch-form textarea {
     width: 95%;
 }
 .get-in-touch-form button {
     width: 95%;
     margin: 30px auto;
 }  
  }

  @media only screen 
  and (min-device-width: 501px) 
  and (max-device-width: 868px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .get-in-touch-container {
        grid-template-columns: 100%;
        width: 100%;
    }
    .get-in-touch-text {
        width: 100%;
        padding: 30px 0 30px 0;
    }
    .get-in-touch-text h2, p{
        padding-left: 15px;
        font-size: 60px;
    }
    .get-in-touch-text p {
        width: 500px;
        font-size: 30px;
    }
    .get-in-touch-text>span {
        margin-left: 15px;
    }
    .get-in-touch-form {
        width: 100%;
        padding: 50px 0 50px 0;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .get-in-touch-form input {
        width: 95%;
        height: 60px;
        margin: auto auto;
    }
    ::placeholder {
        font-size: 20px;
        color: #979797;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }
    .get-in-touch-form textarea {
        width: 95%;
        height: 150px;
    }
    .get-in-touch-form button {
        width: 96%;
        margin: 30px auto ;
        height: 60px;
        font-size: 20px;
        color: #fff;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
       }
  }

  @media only screen 
  and (min-device-width: 869px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {
        
    .get-in-touch-text {
        width: 100%;
        padding: 150px 0 30px 0;
    }
    .get-in-touch-text h2, p{
        padding-left: 10px;
        font-size: 40px;
    }
    .get-in-touch-text p {
        width: 400px;
        font-size: 20px;
    }
    .get-in-touch-text>span {
        margin-left: 15px;
    }
    .get-in-touch-form {
        width: 100%;
        padding: 50px 0 50px 0;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .get-in-touch-form input {
        width: 95%;
        height: 60px;
        margin: auto auto;
    }
    ::placeholder {
        font-size: 20px;
        color: #979797;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }
    .get-in-touch-form textarea {
        width: 95%;
        height: 150px;
    }
    .get-in-touch-form button {
        width: 96%;
        margin: 30px auto ;
        height: 60px;
        font-size: 20px;
        color: #fff;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
       }
  }