.get-in-touch-container {
    display: flex;
    
}
.get-in-touch-text {
    width: 30%;
    padding: 90px 80px 0 110px;
    background: #EEEDEF;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.get-in-touch-text span {
    width: 90px;
    border: 1px solid #121212;
    line-height: 32px;
}
.get-in-touch-text h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 20px;
    color: #121212;
}
.get-in-touch-text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #121212;
    width: 343px;
}
.get-in-touch-form {
    background: #FBF8FB;
    width: 60%;
    padding: 90px 150px 90px 120px;
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.get-in-touch-form input {
    width: 235px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #979797
}
.get-in-touch-form textarea {
    width: 235px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #979797;
}
.get-in-touch-form button {
    width: 243px;
    height: 51px;
    background:#7008f4;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: none;
    margin-top: 48px;
}


/* mediaqueries */

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 460px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .get-in-touch-container {
        flex-direction: column;
        width: 100%;
    }
    .get-in-touch-text {
        width: 100%;
        padding: 30px 0 30px 0;
    }
    .get-in-touch-text h2, p{
        padding-left: 20px;
    }
    .get-in-touch-text p {
        width: 280px;
    }
    .get-in-touch-text>span {
        margin-left: 20px;
    }
    .get-in-touch-form {
        width: 100%;
        padding: 50px 0 50px 0;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .get-in-touch-form input {
        width: 90%;
        margin: auto auto;
    }
    .get-in-touch-form textarea {
        width: 90%;
    }
    .get-in-touch-form button {
        width: 90%;
        margin: 30px auto;
    }
  }